In [2]:
import sys
import pandas as pd
import yfinance as yf
import numpy as np

In [5]:
def get_tickers():
    table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    tickers_df = table[0]
    tickers_list = tickers_df['Symbol'].tolist()
    return tickers_list


tickers = get_tickers()
df = yf.download(tickers, start='2023-01-01')

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BRK.B: No timezone found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [16]:
close_price = df['Adj Close']
close_price.index = pd.to_datetime(close_price.index)
close_price.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-03,150.039993,12.74,151.539993,124.879326,160.850937,163.785202,109.086090,62.459999,269.159027,336.920013,...,85.610001,70.070000,105.696678,32.689999,110.419327,126.378281,127.279999,260.200012,48.083199,146.505768
2023-01-04,151.669998,13.59,151.889999,126.167366,162.148605,162.369568,110.708740,62.770000,268.242767,341.410004,...,90.900002,70.669998,106.004311,33.779999,110.249847,128.090393,128.460007,262.989990,49.839436,148.610809
2023-01-05,152.110001,13.99,153.160004,124.829399,161.950485,162.578934,110.300591,62.939999,261.908691,328.440002,...,91.339996,69.239998,108.376060,33.090000,107.119507,127.114883,126.080002,260.059998,48.966278,145.109039
2023-01-06,147.669998,14.18,154.020004,129.422394,164.981674,165.200851,111.823700,63.900002,268.113312,332.750000,...,93.570000,71.290001,109.685974,33.430000,110.927757,129.693008,125.699997,273.420013,50.861427,147.293900
2023-01-09,147.470001,14.61,152.259995,129.951584,160.137726,164.463120,111.644508,62.669998,272.634827,341.980011,...,94.330002,71.980003,107.641708,32.990002,111.446159,129.165451,126.050003,279.290009,50.623295,146.715256

In [17]:
monthly_close_price = close_price.resample('M').last()
print(monthly_close_price)

                     A        AAL         AAP        AAPL        ABBV  \
Date
2023-01-31  152.080002  16.139999  152.279999  144.070023  147.750000
2023-02-28  141.970001  15.980000  144.960007  147.410004  153.899994
2023-03-31  138.929993  15.880000  129.830002  150.589996  147.350006

                   ABC         ABT       ACGL         ACN        ADBE  ...  \
Date                                                                   ...
2023-01-31  168.440872  110.550003  64.349998  279.049988  370.339996  ...
2023-02-28  155.559998  101.720001  70.000000  265.549988  323.950012  ...
2023-03-31  150.000000   97.849998  68.379997  259.760010  338.369995  ...

                  WYNN        XEL         XOM       XRAY         XYL  \
Date
2023-01-31  103.639999  68.769997  115.124138  36.830002  103.690094
2023-02-28  108.370003  64.570000  109.910004  38.070000  102.650002
2023-03-31  109.629997  64.250000  109.129997  37.090000  100.480003

                   YUM         ZBH        ZBRA       ZION         ZTS
Date
2023-01-31  129.912003  127.339996  316.179993  52.746655  165.490005
2023-02-28  127.160004  123.870003  300.250000  50.619999  167.000000
2023-03-31  126.050003  122.349998  296.910004  41.360001  167.490005

[3 rows x 503 columns]